<a href="https://colab.research.google.com/github/parthkumarbiswas2000-bot/Skill-Morph/blob/Skill_Morph/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Declaring Variable

In [ ]:
Name = "Rahul"
Age = 24
Fav_Color = "Blue"

print("Name:", Name)
print( Age)
print("Fav_Color:", Fav_Color)

Name: Rahul
24
Fav_Color: Blue

#Data Type Variable

In [ ]:
is_student = True
Employed = False
Institution = None

print(type(Name))
print(type(Age))
print(type(Fav_Color))
print(type(is_student))
print(type(Employed))
print(type(Institution))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

# Rectangle area and perimeter

In [ ]:
Length = 7
Width = 5

Area = Length * Width
Perimeter = 2 * (Length + Width)

print ("Area:", Area)
print ("Perimeter:", Perimeter)

Area: 35
Perimeter: 24

# List Creation

In [ ]:
BD_Foods = ["HilsaFish", "Biriyani", "Bhat", "Sabji", "Dal"]
print(BD_Foods[0])
print(BD_Foods[4])

print(BD_Foods[-1])
print(BD_Foods[-5])

# Slicing
print(BD_Foods[0:2])
print(BD_Foods[2:5])

#List Changing
BD_Foods[1] = "Fish"
print(BD_Foods)

HilsaFish
Dal
Dal
HilsaFish
['HilsaFish', 'Biriyani']
['Bhat', 'Sabji', 'Dal']
['HilsaFish', 'Fish', 'Bhat', 'Sabji', 'Dal']

# Number List add, remove and sort

In [ ]:
List_of_Numbers = [2, 3, 4, 5, 6]
print(List_of_Numbers)
List_of_Numbers.append(1)

print(List_of_Numbers)

List_of_Numbers.insert(2,9)
print(List_of_Numbers)

List_of_Numbers.remove(9)
print(List_of_Numbers)

popped= List_of_Numbers.pop()
print(popped)
print(List_of_Numbers)

List_of_Numbers.sort()
print(List_of_Numbers)

List_of_Numbers.reverse()
print(List_of_Numbers)

[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6, 1]
[2, 3, 9, 4, 5, 6, 1]
[2, 3, 4, 5, 6, 1]
1
[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[6, 5, 4, 3, 2]

# Create Dictionary Variable

In [ ]:
Myself = {"name": "Partho",
          "age": 24,
          "fav_Color": "Blue",
          "university": "EDU",
          "courses": ["Machine Learning", "Artificial Intelligence", "Image Processing"] }

#Accessing the values using keys
print(Myself["name"])
print(Myself["courses"][2])

#Adding
Myself["phone"] = "01812233654"
Myself["age"] = 25

print(Myself['age'])

Partho
Image Processing
25

#  Create Tuple

In [ ]:
Latitude_BD_Famous_Places = (23.7116, 22.6539, 22.8411, 24.3636)
Longtitude_BD_Famous_Places = (90.3934, 91.7832, 89.5403, 88.6008)

print("The Latitude of Dhaka, Chattogram, Khulna & Rajshahi: ", Latitude_BD_Famous_Places)
print("The Longtitude of Dhaka, Chattogram, Khulna & Rajshahi:",Longtitude_BD_Famous_Places)

print("The Latitude of Dhaka: ", Latitude_BD_Famous_Places[0])
print("The Longtitude of Dhaka: ", Longtitude_BD_Famous_Places[0])

print(len(Latitude_BD_Famous_Places))
print(len(Longtitude_BD_Famous_Places))v

The Latitude of Dhaka, Chattogram, Khulna & Rajshahi:  (23.7116, 22.6539, 22.8411, 24.3636)
The Longtitude of Dhaka, Chattogram, Khulna & Rajshahi: (90.3934, 91.7832, 89.5403, 88.6008)
The Latitude of Dhaka:  23.7116
The Longtitude of Dhaka:  90.3934
4
4

# Sets

In [ ]:
Color_Set1 = {"Green", "Blue", "Golden", "Blue"}
Color_Set2 = {"Red", "Maroon", "Sky_Blue", "Blue"}

print(Color_Set1)

#Color_Set1.add("Yellow")
#Color_Set1.update(["Peach"],["Lemon Green"])

#print(Color_Set1)

#Color_Set1.remove("Peach")
#Color_Set1.discard("Blue")
#print(Color_Set1)

All_Colors = Color_Set1.union(Color_Set2)
print(All_Colors)

All_Colors = Color_Set1|Color_Set2
print(All_Colors)


All_Colors = Color_Set1.intersection(Color_Set2)
print(All_Colors)

All_Colors = Color_Set1 & Color_Set2
print(All_Colors)

{'Golden', 'Green', 'Blue'}
{'Maroon', 'Golden', 'Sky_Blue', 'Blue', 'Red', 'Green'}
{'Maroon', 'Golden', 'Sky_Blue', 'Blue', 'Red', 'Green'}
{'Blue'}
{'Blue'}

# If-else to check number is postive, negative or zero as number

In [ ]:
Number = float(input("Enter the Number: "))

if Number > 0:
  print("The Number is Positive")

elif Number < 0:
  print("The Number is Negative")

else:
  print("The Number is Zero")

Enter the Number: 20
The Number is Positive

# Nested if-else

In [ ]:
Age = int(input("Enter the Age: "))
student_input = (input("Are you a student? (True/False): "))

if student_input.lower() == "true":
  is_student = True
else:
  is_student = False

if Age <= 25:
  if is_student:
    print("Will get a discount as a Student")
  else:
    print("Will not get a discount as a Student")

if Age >= 60:
  print("Will get a discount as a Senior Citizen")
else:
  print("Will not get a discount as a Senior Citizen")

Enter the Age: 21
Are you a student? (yes/no): TRUE
Will get a discount as a Student
Will not get a discount as a Senior Citizen

In [ ]:
#Second
Age = int(input("Enter the Age: "))
student_input = (input("Are you a student? (True/False): "))

is_student = student_input.lower().strip() == "true"

if (Age <= 25 and is_student) or Age >= 60:
  print("Will get a discount")
else:
  print("Will not get a discount")

Enter the Age: 25
Are you a student? (True/False):  true
Will get a discount

# The First Ten Even Numbers

In [ ]:
#Even_Number = int(input("Enter the Number: "))

Even_Number = "The List of the First Ten Even number: "
print(Even_Number)

for even in range(2,22,2):
  print(even)

The List of the First Ten Even number:
2
4
6
8
10
12
14
16
18
20

# The Star Pyramid

In [ ]:
for i in range (1,6):
  space = " " * (5 - i)
  print(space + "*" *(2*i-1))

    *
   ***
  *****
 *******
*********

# Celsius To Fahrenheit with Function

In [4]:
Temperature = float(input("Enter the Celsius Temperature: "))

def Celsius_to_Fahrenheit(Celsius):
  Fahrenheit = (Celsius *9/5)+32
  return Fahrenheit

Fahrenheit_result = Celsius_to_Fahrenheit(Temperature)
print(f"{Temperature} Celsius is {Fahrenheit_result:.2f} Fahrenheit")

Enter the Celsius Temperature: 200
200.0 Celsius is 392.00 Fahrenheit

# Default Function Area of the Rectangle

In [30]:
def rectangle_area(length, width):
  Area = length * width
  print(f"Area = {Area: .2f}")


length = float(input("Enter the Length of the Rectangle: "))
width = float(input("Enter the Width of the Rectangle: "))
rectangle_area( length, width)

Enter the Length of the Rectangle: 5.5
Enter the Width of the Rectangle: 2.5
Area =  13.75